fastapi
uvicorn
youtube-transcript-api
google-generativeai>=0.8.0
yt-dlp
jinja2
python-multipart
requests
beautifulsoup4
pydantic-settings
gunicorn
supabase>=2.0.0
python-dotenv
importlib-metadata>=6.0.0
